*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: grid;
  align-items: center;
  justify-items: center;
  margin: auto;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

li:not(:first-child) {
  margin-top: 30px;
}

.content {
  display: flex;
  align-content: flex-end;
  min-width: 1140px;
  max-height: 534px;
  margin: 133px 30px;
  column-gap: 30px;
}

.result {
  min-width: 711px;
  max-height: 464px;
  padding-top: 78px;
}

.result__video-container {
  position: relative;
  max-height: 386px;
  inset: 0;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  max-height: 386px;
  object-fit: fill;
}

.search-form {
  display: flex;
  align-content: flex-start;
  height: 54px;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  width: 51.4px;
  height: 22px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgb(255, 255, 255, 1);
  outline-offset: 2px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:active) {
  outline: none;
  border-left: 1px solid rgb(255, 255, 255, 1);
  border-right: 1px solid rgb(255, 255, 255, 1);
}

.search-form__label:has(.search-form__checkbox:hover) {
  text-decoration: 1px underline;
  text-underline-position: under;
}
.search-form__textfield:hover {
  cursor: text;
}
.search-form__label-text {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  background-color: transparent;
  color: rgb(255, 255, 255, 0.7);
  border-style: solid;
  border-color: rgba(255, 255, 255, 1);
  padding: 2.5px 0 2.5px 0;
  appearance: none;
  border-left: 0;
  border-right: 0;
  border-width: 1px;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox:checked + span {
  background-color: rgb(255, 255, 255, 1);
  border: 2px double black;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid rgb(255, 255, 255, 1);
}

.search-form__checkbox {
  appearance: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid rgb(255, 255, 255, 1);
  background-color: inherit;
}

.button {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color: rgb(255, 255, 255, 1);
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255, 1);
  cursor: pointer;
}

.button:active {
  background: rgba(84, 80, 80, 1);
  border: 1px solid rgb(255, 255, 255, 1);
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: 20px;
}

.button:focus {
  outline: none;
}

.button:active {
  background: rgba(84, 80, 80, 1);
  border: 1px solid rgb(255, 255, 255, 1);
}

.button:hover {
  text-decoration: 1px underline;
}

.button:focus-visible {
  border: 2px double rgb(255, 255, 255, 1);
}
.content__details {
  display: grid;
  min-width: 399px;
  min-height: 534px;
  gap: 26px;
}

.title {
  max-height: 206px;
  font-family: Oswald;
  font-size: 75px;
  line-height: 71.5px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list {
  position: relative;
  inset: 0;
  overflow-y: auto;
  display: block;
  margin-top: auto;
  height: 298px;
  width: 399px;
}

.content__list-item {
  max-width: 394px;
  max-height: 107px;
  padding: 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255, 1);
  margin: -1.7px;
}

.content__card-link:hover {
  text-decoration: 1px underline;
  text-underline-position: under;
}

.content__card-link_current {
  min-width: 394px;
  min-height: 107px;
  padding: 2px 0px 0px 0px;
  background-color: rgb(84, 80, 80, 1);
}

.content__card-link_current:active {
  min-width: 394px;
  min-height: 107px;
  padding: 2px 0px 0px 0px;
  background-color: rgb(84, 80, 80, 1);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgb(255, 255, 255, 1);
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  min-width: 200px;
  max-height: 101px;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin-bottom: 6px;
  /*margin-block-end: 6px;*/
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
}

.content__video-card-thumbnail {
  min-width: 194px;
  max-height: 103px;
  object-fit: fill;
  object-position: center;
}

.more-button {
  width: 399px;
  height: 34px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
